@import '../media';

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 20px;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  &__list {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    column-gap: 20px;
  }

  &__item {
    position: relative;
    width: 100%;
  }

  &__poster {
    min-width: 1075px;
    height: 525px;
    border-radius: var(--border-radius-medium);
  }

  &__icon {
    cursor: pointer;
    transition: var(--transition-duration);

    @include hover {
      color: var(--color-accent);
    }
  }

  &__info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    width: 95%;

    &-title {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  &__buttons {
    width: 95%;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__icon {
    width: 36px;
    height: 36px;
    transition: var(--transition-duration);

    @include hover {
      color: var(--color-accent);
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    transition: var(--transition-duration);
  }
}

.dot {
  height: 12px;
  width: 12px;
  background-color: var(--color-light);
  border-radius: 999px;
  transition: var(--transition-duration);
  cursor: pointer;

  @include hover {
    background-color: var(--color-accent);
  }
}