@import "../media";

.card {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 300px;
  transition: var(--transition-duration);

  &__poster {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: var(--border-radius-medium);
    margin-bottom: 0.2rem;
    transition: all ease var(--transition-duration);
    cursor: pointer;

    //@include hover {
    //  top: -6px;
    //  transform: scale(1.1);
    //}
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    &-title {
      width: 100%;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: var(--transition-duration);

      @include hover {
        color: var(--color-accent);
      }
    }

    &-year {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      color: var(--color-gray);
    }

  }
}

.hover-wrapper {
  position: relative;
  transition: var(--transition-duration);

  @include hover {

    .card__poster {
      top: -6px;
      transform: scale(1.1);
      opacity: 0.4;
    }

    .hover {
      top: -6px;
      transform: scale(1.1);
    }
  }
}

.hover {
  top: -6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 20px;
  padding-inline: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--border-radius-medium);
  cursor: pointer;

  &__info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &-country {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}