.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select {
    width: 250px;
    height: var(--genres-elements-height);
    padding-inline: 20px;
    background-color: var(--color-gray);
    color: var(--color-light);
    outline: none;
    border: none;
    border-radius: var(--border-radius-medium);
    text-transform: capitalize;
  }

  &__input {
    width: 250px;
    height: var(--genres-elements-height);
    padding-inline: 20px;
    background-color: var(--color-gray);
    color: var(--color-light);
    outline: none;
    border: none;
    border-radius: var(--border-radius-medium);
  }

  &__option {
    background-color: red;
  }
}