@import 'media';

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-top: var(--container-margin-y);
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius-medium); //TODO УБРАТЬ
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  color: var(--color-light);
  border: none;
  outline: none;
  border-radius: var(--border-radius-large);
  height: var(--button-height);
  cursor: pointer;
  padding: 10px 15px;
  transition: var(--transition-duration);

  @include hover {
    transform: scale(1.2);
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}

.loader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car_b190b2 {
  color: var(--color-dark); //ПОЗОР
}