:root {
  --color-dark: #121212;
  --color-light: #ffffff;
  --color-gray: #b3b1b1;
  --color-accent: #f05133;

  --transition-duration: 0.2s;

  --container-width: 1240px;
  --container-padding-x: 20px;
  
}