:root {
  --color-dark: #0e0e0e;
  --color-dark-alt: #121212;
  --color-light: #ffffff;
  --color-gray: #383838;
  --color-accent: #f43f40;
  --color-green: #549a42;
  --color-yellow: #e2be16;

  --gold-gradient: linear-gradient(315deg, #FFD36E, #ececc5, #FFD36E);

  --border-radius-small: 8px;
  --border-radius-medium: 16px;
  --border-radius-large: 32px;

  --input-height: 40px;
  --input-border: 2px solid var(--color-light);

  --transition-duration: 0.2s;

  --container-width: 1240px;
  --container-padding-x: 30px;
  --container-margin-y: 20px;

  --button-height: 40px;

  --genres-elements-height: 40px;
}