:root {
  --color-dark: #121212;
  --color-light: #ffffff;
  --color-gray: #383838;
  --color-accent: #f43f40;
  //--color-accent: #f05133;

  --border-radius-small: 8px;

  --input-height: 32px;
  --input-border: 2px solid var(--color-light);

  --transition-duration: 0.2s;

  --container-width: 1240px;
  --container-padding-x: 20px;

}