@use 'normalize';
@use 'variables';
@use 'globals';
@use 'fonts';
@use 'blocks/navbar';
@import 'mixins';
@import 'media';

body {
  @include fluid-text(18, 16);

  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--color-light);
}